@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Lora:wght@700&display=swap');

/*******************************
         Circle definitions
 *******************************/
.circle {
  display: none;
}

/* or any-pointer */
@media screen and (pointer: fine) {
  .circle {
    background: #c5681c;
    border-radius: 50%;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .6;
    pointer-events: none;
    transform: translate(var(--translateX, -50%), var(--translateY, -50%)) scale(var(--scale, 1));
    transition: opacity 100ms linear, transform 120ms linear;
    z-index: 999;
  }
}

/*******************************
      Presentational styles
 *******************************/
/* html, body {
  height: 100%;
} */

:root {
  --clr-primary: snow;
  --clr-secondary: #0a1124;
  --clr-tertiary: #289817;
}

body {
  background-color: var(--clr-secondary);
  box-sizing: border-box;
  color: var(--clr-primary);
  font: 300 1.1rem/1.65 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

body *, body *::after, body *::before {
  box-sizing: inherit;
}

a {
  color: currentColor;
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
}

button {
  color: currentColor;
  font: inherit;
}

img {
  border: 0;
  max-width: 100%;
}

section {
  /* min-height: 50%; */
  padding: 10px 1rem;
}

.section__one {
  /* Because section__two::before is skewed by 9deg,
     we should add its height to padding-bottom => h = width * tan(3deg) */
  padding-bottom: calc(10px + (100% * 0.0524));
}

.section__two {
  background: var(--clr-primary); /* #ebebeb; */
  color: var(--clr-secondary);
  position: relative;
  z-index: 1;
}

.section__two::before {
  background-color: inherit;
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform-origin: 0 0;
  transform: skewY(-3deg);
  z-index: -1;
}

.container {
  margin: 0 auto;
  max-width: 560px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card__text {
  flex: 2 0 300px;
  margin: 1rem 0;
  text-align: center;
}

.card__text h1 {
  font-family: 'Lora', serif;
  font-size: 2.6em;
  font-weight: 700;
  letter-spacing: -.88px;
  line-height: 1.2;
}

.card__text button {
  background-color: var(--clr-tertiary);
  border-radius: .5rem;
  border-color: transparent;
  font-weight: 700;
  letter-spacing: .071em;
  margin-top: 1.6em;
  outline: none;
  padding: 0.6rem 1.2rem;
  transition: box-shadow 250ms ease-in-out;
}

.card__text button:hover,
.card__text button:focus {
  box-shadow: inset 0 0 4px white, 0 0 10px 5px rgba(253, 254, 251, 0.49);
}

.card__img {
  flex: 1 0 300px;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem;
}

.card__img img {
  display: block; /* collapse top and bottom margins */
  transition: transform 120ms linear;
}

.card__img img:hover {
  transform: scale(1.1) translate(5px, -5px);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 740px;
  }
  .section__two .card {
    flex-direction: row-reverse;
  }
  .card__text {
    text-align: left;
  }
}